name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

      # --- Caching ---
    - name: Cache Cargo registry and git index
      uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
        key: cargo-registry-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: cargo-registry-

    - name: Cache Cargo build
      uses: actions/cache@v3
      with:
        path: target
        key: cargo-build-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: cargo-build-
      # ----------------

    - name: Install cargo audit, cargo-deny, cargo-tarpaulin
      run: cargo install cargo-audit cargo-deny cargo-tarpaulin

    - name: Security check
      run: cargo audit

    - name: Dependency policy check
      run: cargo deny check

    # - name: Test coverage gate
    #   run: cargo tarpaulin --fail-under 60

    - name: Build
      run: | 
        cargo chef prepare --recipe-path recipe.json
        cargo chef cook --recipe-path recipe.json
        cargo build --release